.falling-text-container {
  position: relative;
  z-index: 1;
  width: 100%;
  min-height: 400px;
  cursor: pointer;
  text-align: center;
  padding: 2em;
  box-sizing: border-box;
}

.falling-text-target {
  display: inline-block;
}

.word {
  display: inline-block;
  margin: 0 2px;
  user-select: none;
}

.highlighted {
  color: cyan;
  font-weight: bold;
}

.falling-text-canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}
